<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Blog</title>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script th:src="@{/js/script.js}"></script>


</head>
<body>
	<div class="container">
		<div class="jumbotron">
		  <h1 th:text="'Notícias - ' + ${blogSelecionado.name}"></h1>
		  <p><a class="btn btn-primary btn-lg" th:href="@{/blogs/{id}/noticias/cadastro(id=${blogSelecionado.id})}" role="button">Criar nova notícia</a></p>
		</div>
		<div th:if="${mensagem !=null}" class="col-md-12">
            <div class="alert alert-success" role="alert">
            	<span th:text="${mensagem}"></span>
            </div>
        </div>
		<div th:each="noticia: ${noticias}" >
			<div >
				<h3 th:text="${noticia.title}"></h3>
				<small th:text="${noticia.dateTimeFormatted}"></small>
			    <h5 th:text="${noticia.conteudoMenor}"></h5>
			    <a th:href="@{/blogs/{idBlog}/noticias/{idNoticia}(idBlog=${blogSelecionado.id}, idNoticia=${noticia.id})}">Ler mais</a>
			  	<a class="text-danger" th:href="@{/blogs/{idBlog}/noticias/{idNoticia}/remover(idBlog=${blogSelecionado.id}, idNoticia=${noticia.id})}">Remover</a>
			  </div>
			</div>
		</div>


</body>
</html>